affine==2.4.0
attrs==25.4.0
certifi==2025.10.5
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
geopandas==1.1.1
numpy==2.2.6
packaging==25.0
pandas==2.3.3
psutil==7.1.3
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
shapely==2.1.2
six==1.17.0
tzdata==2025.2
